@import url('https://fonts.googleapis.com/css2?family=Joan&family=Kavoon&display=swap');

/*
  body {
    margin: 0;
    font-family: 'Joan', sans-serif;
    background-color: #f4f4f4; 
  }

  * {
    box-sizing: border-box;
  }
*/